{% extends '::base.html.twig' %}

{% block container %}
  <title>{% block title %}Carte{% endblock %}</title>
<script
src="http://maps.googleapis.com/maps/api/js">
</script>

<script>
function initialize() {
  var myCenter=new google.maps.LatLng(51.508742,-0.120850);
  var mapProp = {
    center:myCenter,
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };


  var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
  var allMyMarkers = [];
  geocoder = new google.maps.Geocoder();
  {% for Article in AllArticle %}
  function Geocode(address,id,title,phrase,image) {
    geocoder.geocode({
      'address': address
    }, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        var result = results[0].geometry.location;
        // Create our info window content

        var infoWindowContent =
                '<h1>'+title+'</h1>'+
                '<div>'+phrase+'</div>'+
               // '<img class="center-block img-rounded modal-title" src="'+image+'" width="80%" height="80%" >'+

          '<button data-toggle="modal" href="#info'+id+'" class="btn btn-primary">Lire article</button>';

        // Initialise the inforWindow
        var image= {
          url: "{{ asset('img/favicon.ico') }}", // url
          scaledSize: new google.maps.Size(80, 80), // scaled size

        };

        var infoWindow = new google.maps.InfoWindow({
          content: infoWindowContent
        });
        var marker = new google.maps.Marker({
          position: result,
          map: map,
          icon: image
        });
        marker.set("id", id);
        google.maps.event.addListener(marker, 'click', function() {
          infoWindow.open(map, marker);
        });
      } else if (status === google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
        setTimeout(function() {
          Geocode(address);
        }, 200);
      } else {
        alert("Geocode was not successful for the following reason:"
                + status);
      }
    });
  }


  Geocode('{{ Article.getVille }},{{ Article.getPays }}','{{ Article.getId }}','{{ Article.getTitre }}','{{ Article.getPhrase }}','{{ Article.getImages }}');

  {% endfor %}



  function myClick(id){
    for(var i=0;i<allMyMarkers.length;i++){
      alert(allMyMarkers[i].id);
      if(allMyMarkers[i].id === id){
        google.maps.event.trigger(allMyMarkers[i], 'click');

        break;
      }
    }




  }
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Carte des articles</h3>
    </div>

    <div class="panel-body">
<div id="googleMap" class="center-block" style="width:600px;height:500px;"></div>
  {% for Article in AllArticle %}

    <div class="modal" id="info{{ Article.getId }}">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h4 class="modal-title text-center">{{ Article.getTitre }}</h4>
          </div>

          <div class="modal-body">

            {% if Article.getImages is not null %}

              <img class="center-block img-rounded modal-title" src="{{asset('img/'~Article.getImages )}}" width="80%" height="80%" alt="{{ Article.getImages }}">

            {% endif %}
          </div>
          <div class="modal-content">
            <p class="text-center modal-content"> {{ Article.getTexte }}</p>

            <p class="modal-footer text-right">

              {% if  Article.getAuteur == "Benjamin" %}

                <a href="https://www.facebook.com/Benjichoun" target="_blank"><img class="img-circle" src="https://graph.facebook.com/1668541360/picture?type=small"/></a>

              {% elseif  Article.getAuteur == "Mathilde" %}

                <a href="https://www.facebook.com/mathilde.badelon" target="_blank"><img class="img-circle" src="https://graph.facebook.com/100002226864039/picture?type=small"/></a>

              {% endif %}

              {{ Article.getAuteur }} - Posté le: {{ Article.getDate|date("d/m/Y") }}

            </p>

          </div>
        </div>
      </div>
    </div>
  {% endfor %}
      </div>
    </div>
  {% endblock %}